[Unit]
Description=apply.terrashift.net recruitbot service

[Service]
WorkingDirectory=/home/automation/toolkit/
ExecStart=/usr/bin/python3 /home/automation/toolkit/recruitbot.py
Restart=always
RestartSec=500ms

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=recruitbot

[Install]
WantedBy=multi-user.target
