settings = {
  logfile = "/var/log/lsyncd.log",
  statusFile = "/var/log/lsyncd.status",
  init = false,
}

servers = {
{% for host in groups['node_role_secondary'] %}
  "{{   hostvars[host]['ansible_ens10'].ipv4.address }}",
{% endfor %}
}

for _, servers in ipairs( servers ) do
  sync {
    default.rsyncssh,
    source  "/etc/letsencrypt",
    host = server,
    targetdir = "/etc/letsencrypt/",
    rsync = {
      links = true,
      perms = true,
      times = true,
      owner = true,
      one_file_system = true,
    }
  }
end
